<!DOCTYPE html>
<html lang="ko-kr">
<head>
    <meta charset="utf-8">
    <!-- 부트스트랩 모바일 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 부트스트랩 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div>
        <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
            <div class="container"><a class="navbar-brand" href="{% url 'main' %}">FestiGo</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse"
                    id="navcol-1">
                    <ul class="nav navbar-nav mr-auto">
                        <li class="nav-item" role="presentation"><a class="nav-link active" href="#">First Item</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#">Second Item</a></li>
                        <li class="dropdown nav-item"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">Dropdown </a>
                            <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">First Item</a><a class="dropdown-item" role="presentation" href="#">Second Item</a><a class="dropdown-item" role="presentation" href="#">Third Item</a></div>
                        </li>
                    </ul>
                    {% if user.is_authenticated %}
                    <a href="{% url 'accounts:profile' %}"><span class="navbar-text actions">{{ user }}</span></a>
                    <a class="btn btn-light action-button" role="button" href="{% url 'accounts:logout' %}?next={{ request.path }}">Sign Out</a>
                    {% else %}
                    <span class="navbar-text actions"> <a class="login" href="{% url 'accounts:login' %}?next={{ request.path }}">Log In</a></span>
                    {% endif %}
                </div>
            </div>
        </nav>
    </div>
    {% block content %}
    {% endblock %}
</body>

</html>